
.row.band-logos div {
	border-style: solid;
	border-width: 24px 35px 29px 21px; -moz-border-image: url(../img/bands-border.png) 24 35 29 21 stretch; -webkit-border-image: url(../img/bands-border.png) 24 35 29 21 stretch; -o-border-image: url(../img/bands-border.png) 24 35 29 21 stretch; border-image: url(../img/bands-border.png) 24 35 29 21 fill stretch;
}

body {
	font-family: Helvetica;
	font-style: normal;
	color: #fff;
	font-size: 18px;
	background-color: #1D1D1D;
}

/* Upper Header */
.header-upper-left, .header-upper-right, .navigation .col-lg-10, .navigation .col-md-12 {
    padding-right:0;
    padding-left:0;
}

.header-upper .header-upper-center h1 {
	padding: 0;
}

.header-upper .header-upper-left img {
	max-width: 80%;
}

.header-upper .header-upper-center img {
	width: 60%;
	margin: auto;
}

.header-upper .header-upper-right img {
	float: right;
	max-width: 80%;
}

/* Lower Header */
.header-lower img {
	display: inline;
}

.header-lower div {
	padding-top: 0.5em;
	text-align: center;
}

/* Links */
a {
	color: #6afcef !important;
}

a:hover {
	color: #aa1030 !important;
}

/* Navigation */
#back {
	max-height: 3em;
}

.navigation {
	padding: 1em 0;
}

.navigation a:hover {
	text-decoration: none;
}

.navigation-map {
	text-align: center;
}

.navigation-map a img, .navigation-map .navimg img {
	max-width: 13%;
	display: inline;
}

@media (min-width: 768px) {
	#index .navigation img {
		min-width: 100%;
	}
	#index .navigation-map a img {
		min-width: 100%;
	}
	#index .navigation-map {
		position: relative;
	}
	#index .navigation-map a, #index .navigation-map .navimg {
		position: absolute;
	}

	#index .navigation-map a#l1 {
		top: 5%;
		left: 3%;
		width: 11%;
	}

	#index .navigation-map a#l2 {
		top: 58%;
		left: 3.5%;
		width: 9%;
	}

	#index .navigation-map a#l3 {
		top: 24%;
		left: 18.3%;
		width: 6%;
	}

	#index .navigation-map a#l4 {
		top: 60%;
		left: 39%;
		width: 10.4%;
	}

	#index .navigation-map a#l5 {
		top: 4%;
		left: 65%;
		width: 10%;
	}

	#index .navigation-map a#l6 {
		top: 32%;
		left: 73.3%;
		width: 11%;
	}

	#index .navigation-map .navimg#l7 {
		top: 25%;
		left: 29%;
		width: 5%;
	}
	#index .navigation-map .navimg#l8 {
		top: 15.5%;
		left: 88.2%;
		width: 6.7%;
	}
}

/* Content Title */
.img-responsive.img-center {
	margin: 0 auto;
}

.title {
	padding-bottom: 2em;
}

/* Content border */
/*.content {
border-style: solid; border-width: 73px 68px 53px 64px;
-moz-border-image: url(../img/background-border.png) 73 68 53 64;
-webkit-border-image: url(../img/background-border.png) 73 68 53 64;
-o-border-image: url(../img/background-border.png) 73 68 53 64;
border-image: url(../img/background-border.png) 73 68 53 64;
}*/

/* Other */
.hr {
	margin: 2em auto;
}

.photos div {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

/* Bands */
.band-logos div {
	padding-top: 15px;
	padding-bottom: 15px;
}

/* Single Band Pages */

.band-header {
}

.band-header img.logo {
}

.band-header img.promo {
}

/* News Page */
#news .content {
	text-align: center;
}

#news .content .fb-page {
	margin: 0 auto;
}

/* Typography */
h1, h2, h3, h4, h5, h6, .navigation ul li a{
	font-family: 'JoseCarlosLatorreRegular';
	font-weight: normal;
	font-style: normal;
}

h1 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

/* Footer */
.footer {
	font-size: 0.8em;
}

/* Location */
#location .content a img {
	min-width: 100%;
	margin-top: 2em;
}
